.countries-page-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    @media (max-width:950px) {
        justify-content: flex-start;
    }
}

.country-img {
    max-width: 100%;
    margin: 0 auto;
}
