.country-page_wrapper {
  margin: 0 auto;
  padding: 0 2rem;
}

.country-page_title {
  font-family: 'Hachi Maru Pop', cursive;
  text-align: center;
  padding: 15px 0;
}

.country-page_description {
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
}
