#root {
    position: relative;
    height: 100%;
}
.app-wrapper {
    width: 100%;
}

.btn {
    padding: .65rem 1.5rem;
}

.app-wrapper.app-content-hidden {
    height: 100vh;
    overflow: hidden;
}
