$mobile-widths: "max-width: 767px";
$tablet-widths: "max-width: 1279px";

.map-wrapper {
  width: 100%;
  height: 450px;
  margin: 0 auto;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.leaflet-popup,
.leaflet-popup-content-wrapper {
  position: relative;
  background: #2e2e2e;
  border-radius: 0;
  min-width: 210px;
  border: 1px solid #cc22f1;
  color: #cdcdcd;
  font-size: 1.2rem;
}

.leaflet-container__screen-btn {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url("../../assets/images/full-screen.svg");
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center;
  font-size: 0;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 2px 1px #000000;
  z-index: 500;

  &:hover {
    background-color: #f4f4f4;
  }
}

.to-full-screen {
  top: 0 !important;
  right: 0 !important;
  position: fixed !important;
  width: 100% !important;
  height: 100vh !important;
  z-index: 1000;
}

