.register-page-wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form {
    width: 40%;
}

.register-btn {
    background: rgba(228, 222, 222, 0.5) !important;
}