@import "css/owfont-regular";

.weather-widget {
  width: 30%;
  font-family: 'Quicksand', sans-serif;
}

.weather-parameter {
  color: #1f9bcf;
}

#temperature,
#feels,
#humidity,
#visibility,
#wind,
#today {
  color: #ffffff;
}
