$mobile-widths: "max-width: 767px";
$tablet-widths: "max-width: 1279px";

.video-wrapper {
  width: 100%;
  height: 450px;
  justify-content: center;
  background-color: #cccccc;
  margin-bottom: 40px;
}

.video-content {
  width: 100%;
  height: 100%;
}


@media ($mobile-widths) {
  .video-wrapper {
    height: 300px;
  }
}



